/****** Object:  Table [dbo].[tbl_Branch]    Script Date: 09/05/2016 14:29:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Branch]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Branch]
GO
/****** Object:  Table [dbo].[tbl_Measurement]    Script Date: 09/05/2016 14:29:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Measurement]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Measurement]
GO
/****** Object:  Table [dbo].[tbl_ItemName]    Script Date: 09/05/2016 14:29:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ItemName]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_ItemName]
GO
/****** Object:  Table [dbo].[tbl_ItemCategory]    Script Date: 09/05/2016 14:29:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ItemCategory]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_ItemCategory]
GO
/****** Object:  Table [dbo].[tbl_GoldQuality]    Script Date: 09/05/2016 14:29:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_GoldQuality]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_GoldQuality]
GO
/****** Object:  Table [dbo].[tbl_GemsCategory]    Script Date: 09/05/2016 14:29:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_GemsCategory]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_GemsCategory]
GO
/****** Object:  Table [dbo].[tbl_GenerateFormat]    Script Date: 09/05/2016 14:29:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_GenerateFormat]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_GenerateFormat]
GO
/****** Object:  Table [dbo].[tbl_Staff    Script Date: 09/05/2016 14:29:04 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Staff]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Staff]
GO
/****** Object:  Table [dbo].[tbl_Staff]    Script Date: 09/05/2016 14:29:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_GemsCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_GemsCategory](
	[GemsCategoryID] [varchar](20) NOT NULL,
	[GemsCategory] [nvarchar](50) NULL,
	[StoneType] [varchar] (50) NULL,
	[GemTaxPer] [decimal](5, 2) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[LocationID] [varchar] (20) NULL
 CONSTRAINT [PK_tbl_GemsCategory] PRIMARY KEY CLUSTERED 
(
	[GemsCategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_GoldQuality]    Script Date: 09/05/2016 14:29:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_GoldQuality]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_GoldQuality](
	[GoldQualityID] [varchar](20) NOT NULL,
	[GoldQuality] [nvarchar](50) NULL,
	[Prefix] [varchar](20) NULL,
	[IsGramRate] [bit] NULL,
	[IsSolidGold] [bit] NULL,
	[MultiplyBy] [decimal](18, 2) NULL,
	[DividedBy] [decimal](18, 2) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[LocationID] [varchar] (20) NULL,
	[BarcodeStatus] [int] NULL
 CONSTRAINT [PK_tbl_GoldQuality] PRIMARY KEY CLUSTERED 
(
	[GoldQualityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_ItemCategory]    Script Date: 09/05/2016 14:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ItemCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_ItemCategory](
	[ItemCategoryID] [varchar](20) NOT NULL,
	[ItemCategory] [nvarchar](50) NULL,
	[Prefix] [varchar](20) NULL,
	[ItemTaxPer] [decimal](5, 2) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[LocationID] [varchar] (20) NULL
 CONSTRAINT [PK_tbl_ItemCategory] PRIMARY KEY CLUSTERED 
(
	[ItemCategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_ItemName]    Script Date: 09/05/2016 14:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_ItemName]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_ItemName](
	[ItemNameID] [varchar](20) NOT NULL,
	[ItemCategoryID] [varchar](20) NULL,
	[ItemName] [nvarchar](100) NULL,
	[ItemPhoto] [image] NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[LocationID] [varchar] (20) NULL
 CONSTRAINT [PK_tbl_ItemName] PRIMARY KEY CLUSTERED 
(
	[ItemNameID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Measurement]    Script Date: 09/05/2016 14:29:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Measurement]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Measurement](
	[FromMeasurement] [varchar](10) NOT NULL,
	[ToMeasurement] [varchar](10) NOT NULL,
	[Equivalent] [numeric](18, 13) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Branch]    Script Date: 09/05/2016 14:29:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Branch]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Branch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
 CONSTRAINT [PK_tbl_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_GenerateFormat]    Script Date: 12/06/2019 14:29:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_GenerateFormat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_GenerateFormat](
	[GenerateFormatID] [int] NOT NULL,
	[GenerateFormat] [varchar](50) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[FormatDate1] [varchar](50) NOT NULL,
	[FormatDate2] [varchar](50) NOT NULL,
	[Prefix2] [varchar](50) NOT NULL,
	[NumberCount] [varchar](50) NOT NULL,
	[PrefixPlace] [varchar](50) NULL,
	[IsGenerate] [Bit] NULL
 CONSTRAINT [PK_tbl_GenerateFormat] PRIMARY KEY CLUSTERED 
(
	[GenerateFormatID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Staff]    Script Date: 12/06/2019 14:29:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Staff]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Staff](
	[StaffID] [varchar] (20) NOT NULL,
	[Staff] [nvarchar](50) NULL,
	[IsDelete] [Bit] NULL,
	[IsUpload] [Bit] NULL,
	[LocationID] [varchar](20) NULL
) ON [PRIMARY]
END
GO
