--updating version-- 
Update tbl_Version set versionDate=GetDate(),VersionNo='3.5001';
GO
-----SRTaxAmt------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'SRTaxAmt')
alter table tbl_SaleInvoiceHeader add SRTaxAmt int NULL
GO
update tbl_SaleInvoiceHeader set SRTaxAmt=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'IsOtherCash')
alter table tbl_SaleInvoiceHeader add IsOtherCash Bit NULL
GO
update tbl_SaleInvoiceHeader set IsOtherCash=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'OtherCashAmount')
alter table tbl_SaleInvoiceHeader add OtherCashAmount int NULL
GO
update tbl_SaleInvoiceHeader set OtherCashAmount=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'IsUpload')
alter table tbl_SaleInvoiceHeader add IsUpload Bit NULL
GO
update tbl_SaleInvoiceHeader set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'IsDelete')
alter table tbl_SaleInvoiceHeader add IsDelete Bit NULL
GO
update tbl_SaleInvoiceHeader set IsDelete=0;
GO
-----tbl_RecordOtherCash---------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_RecordOtherCash' )
CREATE TABLE [dbo].[tbl_RecordOtherCash](
	[RecordCashID] [varchar](20) NOT NULL,
	[VoucherNo] [varchar](20) NOT NULL,
	[CashTypeID] [varchar](20) NOT NULL,
	[ExchangeRate] [int] NULL,
	[Amount] [int] NULL,
 CONSTRAINT [PK_tbl_RecordOtherCash] PRIMARY KEY CLUSTERED 
(
	[RecordCashID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
-------tbl_PurchaseFromSupplier--------
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_PurchaseFromSupplier' )
CREATE TABLE [dbo].[tbl_PurchaseFromSupplier](
	[PurchaseFromSupplierID] [varchar](20) NOT NULL,
	[PDate] [datetime] NULL,
	[StaffID] [varchar](20) NULL,
	[SupplierID] [varchar](20) NULL,
	[Remark] [nvarchar](500) NULL,
	[Voucher] [varchar](20) NULL,
	[ExchangeRate] [bigint] NULL,
	[TotalAmount] [bigint] NULL,
	[AddOrSub] [bigint] NULL,
	[PaidAmount] [bigint] NULL,
	[DiscountRate] [int] NULL,
	[Expense] [bigint] NULL,
	[CommissionRate] [int] NULL,
	[PayType] [int] NULL,
	[DueDate] [datetime] NULL,
	[LocationID] [varchar](20) NULL,
	[LastModifiedLoginUserName] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsSync] [bit] NULL,
 CONSTRAINT [PK_PurchaseFromSupplier] PRIMARY KEY CLUSTERED 
(
	[PurchaseFromSupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
----tbl_PurchaseFromSupplierItem-----
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_PurchaseFromSupplierItem' )
CREATE TABLE [dbo].[tbl_PurchaseFromSupplierItem](
	[PurchaseFromSupplierItemID] [varchar](20) NOT NULL,
	[PurchaseFromSupplierID] [varchar](20) NULL,
	[OriginalCode] [varchar](20) NULL,
	[GramWeight] [decimal](18, 3) NULL,
	[QTY] [int] NULL,
	[Rate] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[IsReject] [bit] NULL,
 CONSTRAINT [PK_tbl_PurchaseFromSupplierItem] PRIMARY KEY CLUSTERED 
(
	[PurchaseFromSupplierItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
SET ANSI_PADDING OFF
GO
----tbl_Supplier-----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_Supplier' )
CREATE TABLE [dbo].[tbl_Supplier](
	[SupplierID] [varchar](20) NOT NULL,
	[SupplierCode] [varchar](20) NULL,
	[SupplierName] [nvarchar](50) NULL,
	[SupplierAddress] [nvarchar](200) NULL,
	[Email] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[PhoneNo] [varchar](20) NOT NULL,
	[Remark] [nvarchar](200) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[LocationID] [varchar](20) NULL,
CONSTRAINT [PK_tbl_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)ON [PRIMARY]
SET ANSI_PADDING OFF
GO
-----tbl_ConsignmentSale-----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_ConsignmentSale' )
CREATE TABLE [dbo].[tbl_ConsignmentSale](
	[ConsignmentSaleID] [varchar](20) NOT NULL,
	[ConsignDate] [datetime] NULL,
	[WholesaleInvoiceID] [varchar](50) NULL,
	[StaffID] [varchar](20) NULL,
	[CustomerID] [nvarchar](20) NULL,
	[Remark] [varchar](100) NULL,
	[NetAmount] [bigint] NULL,
	[AddOrSub] [bigint] NULL,
	[Discount] [int] NULL,
	[LocationID] [varchar](20) NULL,
	[LastModifiedLoginUserName] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[JC_IsUpload] [bit] NULL,
	[PaidAmount] [bigint] NULL,
	[PurchaseHeaderID] [varchar](20) NULL,
	[PurchaseAmount] [bigint] NULL,
 CONSTRAINT [PK_tbl_ConsignmentSale] PRIMARY KEY CLUSTERED 
(
	[ConsignmentSaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
-----tbl_WholeSaleInvoice
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_WholesaleInvoice' )
CREATE TABLE [dbo].[tbl_WholesaleInvoice](
	[WholesaleInvoiceID] [varchar](20) NOT NULL,
	[WDate] [datetime] NOT NULL,
	[StaffID] [varchar](20) NULL,
	[CustomerID] [nvarchar](20) NULL,
	[NetAmount] [bigint] NULL,
	[AddOrSub] [bigint] NULL,
	[Discount] [bigint] NULL,
	[PaidAmount] [bigint] NULL,
	[DueDate] [datetime] NULL,
	[PayType] [int] NULL,
	[LastModifiedLoginUserName] [varchar](50) NULL,
	[LastModifiedDate] [datetime] NULL,
	[LocationID] [varchar](20) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[JC_IsUpload] [bit] NULL,
	[Remark] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_WholesaleInvoice] PRIMARY KEY CLUSTERED 
(
	[WholesaleInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
---tbl_CashType----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_CashType' )
CREATE TABLE [dbo].[tbl_CashType](
	[CashTypeID] [varchar](20) NOT NULL,
	[CashType] [nvarchar](20) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
	[LocationID] [varchar](20) NULL
CONSTRAINT [PK_tbl_CashType] PRIMARY KEY CLUSTERED 
(
	[CashTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)ON [PRIMARY]
SET ANSI_PADDING OFF
GO
---tbl_Branch----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_Branch' )
CREATE TABLE [dbo].[tbl_Branch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
 CONSTRAINT [PK_tbl_Branch] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
----For Color------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ForSale' and column_name = 'Color')
alter table tbl_ForSale add Color varchar(20) NULL
GO
update tbl_ForSale set Color='';
GO
ALTER TABLE tbl_PurchaseFromSupplierItem ALTER COLUMN Rate Decimal(18,2);
GO
ALTER TABLE tbl_PurchaseFromSupplierItem ALTER COLUMN Amount Decimal(18,2);
GO
-----For Tax------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceDetail' and column_name = 'ItemTaxPer')
alter table tbl_SaleInvoiceDetail add ItemTaxPer decimal(5,2) NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceDetail' and column_name = 'ItemTax')
alter table tbl_SaleInvoiceDetail add ItemTax int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'AllTaxAmt')
alter table tbl_SaleInvoiceHeader add AllTaxAmt int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SalesInvoiceGemItem' and column_name = 'GemTax')
alter table tbl_SalesInvoiceGemItem add GemTax int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SalesInvoiceGemItem' and column_name = 'GemTaxPer')
alter table tbl_SalesInvoiceGemItem add GemTaxPer decimal(5,2) NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ItemCategory' and column_name = 'ItemTaxPer')
alter table tbl_ItemCategory add ItemTaxPer decimal(5,2) NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GemsCategory' and column_name = 'GemTaxPer')
alter table tbl_GemsCategory add GemTaxPer decimal(5,2) NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnHeader' and column_name = 'AllTaxAmt')
alter table tbl_OrderReturnHeader add AllTaxAmt int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnDetail' and column_name = 'ItemTax')
alter table tbl_OrderReturnDetail add ItemTax int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnDetail' and column_name = 'ItemTaxPer')
alter table tbl_OrderReturnDetail add ItemTaxPer decimal(5,2) NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnGemsItem' and column_name = 'GemTax')
alter table tbl_OrderReturnGemsItem add GemTax int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnGemsItem' and column_name = 'GemTaxPer')
alter table tbl_OrderReturnGemsItem add GemTaxPer decimal(5,2) NULL
GO
update tbl_ItemCategory set ItemTaxPer=0;
GO
update tbl_GemsCategory set GemTaxPer=0;
GO
update tbl_SaleInvoiceDetail set ItemTaxPer=0,ItemTax= 0;
GO
update tbl_SaleInvoiceHeader set AllTaxAmt=0;
GO
update tbl_SalesInvoiceGemItem set GemTax=0,GemTaxPer= 0;
GO
update tbl_OrderReturnDetail set ItemTaxPer=0,ItemTax= 0;
GO
update tbl_OrderReturnHeader set AllTaxAmt=0;
GO
update tbl_OrderReturnGemsItem set GemTax=0,GemTaxPer= 0;
GO
------For IsBank --------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_CashReceipt' and column_name = 'IsBank')
alter table tbl_CashReceipt add IsBank bit NULL
GO
update tbl_CashReceipt set IsBank=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceDetail' and column_name = 'IsSaleReturn')
alter table tbl_SaleInvoiceDetail add IsSaleReturn bit NULL
GO
update tbl_SaleInvoiceDetail set IsSaleReturn=0;
GO
------ForSynchronization-------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Location' and column_name = 'IsDelete')
alter table tbl_Location add IsDelete bit NULL
GO
update tbl_Location set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Location' and column_name = 'IsUpload')
alter table tbl_Location add IsUpload bit NULL
GO
update tbl_Location set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Customer' and column_name = 'IsDelete')
alter table tbl_Customer add IsDelete bit NULL
GO
update tbl_Customer set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Customer' and column_name = 'IsUpload')
alter table tbl_Customer add IsUpload bit NULL
GO
update tbl_Customer set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Supplier' and column_name = 'IsDelete')
alter table tbl_Supplier add IsDelete bit NULL
GO
update tbl_Supplier set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Supplier' and column_name = 'IsUpload')
alter table tbl_Supplier add IsUpload bit NULL
GO
update tbl_Supplier set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Staff' and column_name = 'IsDelete')
alter table tbl_Staff add IsDelete bit NULL
GO
update tbl_Staff set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Staff' and column_name = 'IsUpload')
alter table tbl_Staff add IsUpload bit NULL
GO
update tbl_Staff set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_CashType' and column_name = 'IsDelete')
alter table tbl_CashType add IsDelete bit NULL
GO
update tbl_CashType set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_CashType' and column_name = 'IsUpload')
alter table tbl_CashType add IsUpload bit NULL
GO
update tbl_CashType set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GoldQuality' and column_name = 'IsDelete')
alter table tbl_GoldQuality add IsDelete bit NULL
GO
update tbl_GoldQuality set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GoldQuality' and column_name = 'IsUpload')
alter table tbl_GoldQuality add IsUpload bit NULL
GO
update tbl_GoldQuality set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ItemCategory' and column_name = 'IsDelete')
alter table tbl_ItemCategory add IsDelete bit NULL
GO
update tbl_ItemCategory set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ItemCategory' and column_name = 'IsUpload')
alter table tbl_ItemCategory add IsUpload bit NULL
GO
update tbl_ItemCategory set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ItemName' and column_name = 'IsDelete')
alter table tbl_ItemName add IsDelete bit NULL
GO
update tbl_ItemName set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ItemName' and column_name = 'IsUpload')
alter table tbl_ItemName add IsUpload bit NULL
GO
update tbl_ItemName set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GemsCategory' and column_name = 'IsDelete')
alter table tbl_GemsCategory add IsDelete bit NULL
GO
update tbl_GemsCategory set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GemsCategory' and column_name = 'IsUpload')
alter table tbl_GemsCategory add IsUpload bit NULL
GO
update tbl_GemsCategory set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_StandardRate' and column_name = 'IsDelete')
alter table tbl_StandardRate add IsDelete bit NULL
GO
update tbl_StandardRate set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_StandardRate' and column_name = 'IsUpload')
alter table tbl_StandardRate add IsUpload bit NULL
GO
update tbl_StandardRate set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Branch' and column_name = 'IsDelete')
alter table tbl_Branch add IsDelete bit NULL
GO
update tbl_Branch set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Branch' and column_name = 'IsUpload')
alter table tbl_Branch add IsUpload bit NULL
GO
update tbl_Branch set IsUpload=0;
GO
-------Transaction---------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_PurchaseFromSupplier' and column_name = 'IsDelete')
alter table tbl_PurchaseFromSupplier add IsDelete bit NULL
GO
update tbl_PurchaseFromSupplier set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_PurchaseFromSupplier' and column_name = 'IsSync')
alter table tbl_PurchaseFromSupplier add IsSync bit NULL
GO
update tbl_PurchaseFromSupplier set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ForSale' and column_name = 'IsDelete')
alter table tbl_ForSale add IsDelete bit NULL
GO
update tbl_ForSale set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ForSale' and column_name = 'IsSync')
alter table tbl_ForSale add IsSync bit NULL
GO
update tbl_ForSale set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_PurchaseHeader' and column_name = 'IsDelete')
alter table tbl_PurchaseHeader add IsDelete bit NULL
GO
update tbl_PurchaseHeader set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_PurchaseHeader' and column_name = 'IsSync')
alter table tbl_PurchaseHeader add IsSync bit NULL
GO
update tbl_PurchaseHeader set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_PurchaseHeader' and column_name = 'IsUpload')
alter table tbl_PurchaseHeader add IsUpload bit NULL
GO
update tbl_PurchaseHeader set IsUpload=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleGems' and column_name = 'IsDelete')
alter table tbl_SaleGems add IsDelete bit NULL
GO
update tbl_SaleGems set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleGems' and column_name = 'IsSync')
alter table tbl_SaleGems add IsSync bit NULL
GO
update tbl_SaleGems set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'IsSync')
alter table tbl_SaleInvoiceHeader add IsSync bit NULL
GO
update tbl_SaleInvoiceHeader set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SalesVolume' and column_name = 'IsDelete')
alter table tbl_SalesVolume add IsDelete bit NULL
GO
update tbl_SalesVolume set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SalesVolume' and column_name = 'IsSync')
alter table tbl_SalesVolume add IsSync bit NULL
GO
update tbl_SalesVolume set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderInvoice' and column_name = 'IsDelete')
alter table tbl_OrderInvoice add IsDelete bit NULL
GO
update tbl_OrderInvoice set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderInvoice' and column_name = 'IsSync')
alter table tbl_OrderInvoice add IsSync bit NULL
GO
update tbl_OrderInvoice set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnHeader' and column_name = 'IsDelete')
alter table tbl_OrderReturnHeader add IsDelete bit NULL
GO
update tbl_OrderReturnHeader set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnHeader' and column_name = 'IsSync')
alter table tbl_OrderReturnHeader add IsSync bit NULL
GO
update tbl_OrderReturnHeader set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_RepairHeader' and column_name = 'IsDelete')
alter table tbl_RepairHeader add IsDelete bit NULL
GO
update tbl_RepairHeader set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_RepairHeader' and column_name = 'IsSync')
alter table tbl_RepairHeader add IsSync bit NULL
GO
update tbl_RepairHeader set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ReturnRepairHeader' and column_name = 'IsDelete')
alter table tbl_ReturnRepairHeader add IsDelete bit NULL
GO
update tbl_ReturnRepairHeader set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ReturnRepairHeader' and column_name = 'IsSync')
alter table tbl_ReturnRepairHeader add IsSync bit NULL
GO
update tbl_ReturnRepairHeader set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_CashReceipt' and column_name = 'IsDelete')
alter table tbl_CashReceipt add IsDelete bit NULL
GO
update tbl_CashReceipt set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_CashReceipt' and column_name = 'IsSync')
alter table tbl_CashReceipt add IsSync bit NULL
GO
update tbl_CashReceipt set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_DailyExpense' and column_name = 'IsDelete')
alter table tbl_DailyExpense add IsDelete bit NULL
GO
update tbl_DailyExpense set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_DailyExpense' and column_name = 'IsSync')
alter table tbl_DailyExpense add IsSync bit NULL
GO
update tbl_DailyExpense set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_DailyIncome' and column_name = 'IsDelete')
alter table tbl_DailyIncome add IsDelete bit NULL
GO
update tbl_DailyIncome set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_DailyIncome' and column_name = 'IsSync')
alter table tbl_DailyIncome add IsSync bit NULL
GO
update tbl_DailyIncome set IsSync=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Transfer' and column_name = 'IsDelete')
alter table tbl_Transfer add IsDelete bit NULL
GO
update tbl_Transfer set IsDelete=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Transfer' and column_name = 'IsSync')
alter table tbl_Transfer add IsSync bit NULL
GO
update tbl_Transfer set IsSync=0;
GO
------SR Tax--------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'SRTaxPer')
alter table tbl_SaleInvoiceHeader add SRTaxPer decimal(18,2) NULL
GO
update tbl_SaleInvoiceHeader set SRTaxPer=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceHeader' and column_name = 'SRTaxAmt')
alter table tbl_SaleInvoiceHeader add SRTaxAmt int NULL
GO
update tbl_SaleInvoiceHeader set SRTaxAmt=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GlobalSetting' and column_name = 'IsCash')
alter table tbl_GlobalSetting add IsCash Bit 
GO
update tbl_GlobalSetting set IsCash=0
GO