--updating verion 
Update tbl_Version set versionDate=GetDate(),VersionNo='3.5003';
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnHeader' and column_name = 'AddGOldTaxPer')
alter table tbl_OrderReturnHeader add AddGOldTaxPer Decimal(18,2) NULL
GO
update tbl_OrderReturnHeader set AddGOldTaxPer=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_OrderReturnHeader' and column_name = 'AddGOldTax')
alter table tbl_OrderReturnHeader add AddGOldTax int NULL
GO
update tbl_OrderReturnHeader set AddGOldTax=0;
GO
-----Supplier-------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ForSale' and column_name = 'SupplierID')
alter table tbl_ForSale add SupplierID VarChar(20) NULL
GO
update tbl_ForSale set SupplierID='';
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ForSale' and column_name = 'SupplierVou')
alter table tbl_ForSale add SupplierVou VarChar(20) NULL
GO
update tbl_ForSale set SupplierVou='';
GO
-----Customer------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_Customer' and column_name = 'DOB')
alter table tbl_Customer add DOB VarChar(20) NULL
GO
update tbl_Customer set DOB='';
GO
ALTER TABLE tbl_Customer ALTER COLUMN DOB DateTime;
GO
-------Global Setting ----------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GlobalSetting' and column_name = 'IsSpeedEntry')
alter table tbl_GlobalSetting add IsSpeedEntry Bit NULL
GO
update tbl_GlobalSetting set IsSpeedEntry=0;
GO
------Transfer Price Change--------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_TransferItem' and column_name = 'OriginalFixedPrice')
alter table tbl_TransferItem add OriginalFixedPrice int NULL
GO
update tbl_TransferItem set OriginalFixedPrice=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_TransferItem' and column_name = 'OriginalPriceGram')
alter table tbl_TransferItem add OriginalPriceGram int NULL
GO
update tbl_TransferItem set OriginalPriceGram=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_TransferItem' and column_name = 'OriginalPriceTK')
alter table tbl_TransferItem add OriginalPriceTK int NULL
GO
update tbl_TransferItem set OriginalPriceTK=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_TransferItem' and column_name = 'OriginalGemsPrice')
alter table tbl_TransferItem add OriginalGemsPrice int NULL
GO
update tbl_TransferItem set OriginalGemsPrice=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_TransferItem' and column_name = 'PriceCode')
alter table tbl_TransferItem add PriceCode Varchar(10) NULL
GO
update tbl_TransferItem set PriceCode='';
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_TransferItem' and column_name = 'FixPrice')
alter table tbl_TransferItem add FixPrice int NULL
GO
update tbl_TransferItem set FixPrice=0;
GO
