--updating verion 
Update tbl_Version set versionDate=GetDate(),VersionNo='3.5002';
GO
-----Generate Format-----
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GenerateFormat' and column_name = 'IsGenerate')
alter table tbl_GenerateFormat add IsGenerate bit NULL
GO
update tbl_GenerateFormat set IsGenerate=0;
GO
------Waste Setup------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_WasteSetupHeader' )
CREATE TABLE [dbo].[tbl_WasteSetupHeader](
	[WasteSetupHeaderID] [varchar](20) NOT NULL,
	[ItemCateGOryID] [varchar](20) NULL,
	[ItemNameID] [varchar](20) NULL,
 CONSTRAINT [PK_tbl_WasteSetUp] PRIMARY KEY CLUSTERED 
(
	[WasteSetupHeaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
--------------tbl_WasteSetupDetail------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_WasteSetupDetail' )
CREATE TABLE [dbo].[tbl_WasteSetupDetail](
	[WasteSetupDetailID] [varchar](20) NOT NULL,
	[WasteSetupHeaderID] [varchar](20) NULL,
	[GOldQualityID] [varchar](20) NULL,
	[MinNetWeightTK] [decimal](18, 13) NULL,
	[MinNetWeightTG] [decimal](18, 13) NULL,
	[MaxNetWeightTK] [decimal](18, 13) NULL,
	[MaxNetWeightTG] [decimal](18, 13) NULL,
	[MinWeightTKForSale] [decimal](18, 13) NULL,
	[MinWeightTGForSale] [decimal](18, 13) NULL,
 CONSTRAINT [PK_tbl_WasteSetupDetail] PRIMARY KEY CLUSTERED 
(
	[WasteSetupDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
SET ANSI_PADDING OFF
-----Global Setting --------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GlobalSetting' and column_name = 'IsExactPrice')
alter table tbl_GlobalSetting add IsExactPrice bit NULL
GO
update tbl_GlobalSetting set IsExactPrice=0;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GlobalSetting' and column_name = 'DiffPurchaseRate')
alter table tbl_GlobalSetting add DiffPurchaseRate int NULL
GO
update tbl_GlobalSetting set DiffPurchaseRate=10000;
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GlobalSetting' and column_name = 'DiffChangeRate')
alter table tbl_GlobalSetting add DiffChangeRate int NULL
GO
update tbl_GlobalSetting set DiffChangeRate=10000;
GO
-----SaleInvoiceDetail------
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceDetail' and column_name = 'WhiteCharges')
alter table tbl_SaleInvoiceDetail add WhiteCharges int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceDetail' and column_name = 'PlatingCharges')
alter table tbl_SaleInvoiceDetail add PlatingCharges int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceDetail' and column_name = 'MountingCharges')
alter table tbl_SaleInvoiceDetail add MountingCharges int NULL
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_SaleInvoiceDetail' and column_name = 'DesignCharges')
alter table tbl_SaleInvoiceDetail add DesignCharges int NULL
GO
update tbl_SaleInvoiceDetail set WhiteCharges=(select WhiteCharges from tbl_ForSale F where F.ForSaleID=tbl_SaleInvoiceDetail.ForSaleID) 
GO
update tbl_SaleInvoiceDetail set PlatingCharges=(select PlatingCharges from tbl_ForSale F where F.ForSaleID=tbl_SaleInvoiceDetail.ForSaleID) 
GO
update tbl_SaleInvoiceDetail set MountingCharges=(select MountingCharges from tbl_ForSale F where F.ForSaleID=tbl_SaleInvoiceDetail.ForSaleID) 
GO
update tbl_SaleInvoiceDetail set DesignCharges=(select DesignCharges from tbl_ForSale F where F.ForSaleID=tbl_SaleInvoiceDetail.ForSaleID) 
GO