--updating verion 
Update tbl_Version Set VersionNo='3.5004' ,VersionDate=GETDATE();
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_GlobalSetting' and column_name = 'DecimalFormat')
alter table tbl_GlobalSetting add DecimalFormat int NULL
GO
update tbl_GlobalSetting set DecimalFormat=1;
GO
/****** Object:  Table [dbo].[tbl_GOldSmith]    Script Date: 06/01/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF Not EXISTS ( SELECT [name] FROM sys.tables WHERE [name] = 'tbl_GOldSmith' )
CREATE TABLE [dbo].[tbl_GOldSmith](
	[GOldSmithID] [varchar](20) NOT NULL,
	[GOldSmithCode] [varchar](20) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Remark] [nvarchar](500) NULL,
	[IsInactive] [bit] NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDelete] [bit] NULL,
	[IsUpload] [bit] NULL,
 CONSTRAINT [PK_tbl_GOldSmith] PRIMARY KEY CLUSTERED 
(
	[GOldSmithID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
if not exists (select column_name from INFORMATION_SCHEMA.columns where table_name = 'tbl_ForSale' and column_name = 'GOldSmithID')
alter table tbl_ForSale add GOldSmithID varchar(20) NULL
GO
update tbl_ForSale set GOldSmithID='';
GO



